body{
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 100%;
    margin: 0 auto;
}
#containersetwidth{
    width:76%;
    height: auto;
    margin:0 auto;
}
#logocontainer{
    padding-top: 20px;
    height: auto;
            border-bottom: 1px solid #eee;
}
#logosize{
    width: 76%;
    display: block;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition:0.5s;
}

a:hover{
    color:#b69c6a;
}
#AllContainer{
    width: 100%;
    height: auto;
    margin-top: 5%;
}
#row{
    margin-left: 3.1%;
}
.image{
    width:30%;
    height:50%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    display: inline-block;
    transition: 0.2s;
}
#row:hover .image {
    opacity: 0.5;
    transition: 0.3s;
    
}

#row .image:hover {
    opacity: 1;
}